<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Agents</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Evaluators</a>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" class="navbar-link"><span class="glyphicon glyphicon-user"
                                                                   aria-hidden="true"></span> Settings</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="center-block" style="width: 800px;">
    <table class="table">
      <tr>
        <th>Authorized Agents</th>
        <th>Actions</th>
      </tr>
      <% agents.forEach(function(agent) { %>
      <tr>
        <td>
          <%= agent.email %>
        </td>
        <td>
          <a href="/agents" onclick="removeAgent('<%= agent.id %>');">Remove</a>
        </td>
      </tr>
      <% }); %>
    </table>

    <div class="email-form">
      <form class="form-inline" method="POST" action="/agents/new">
        <input type="email" class="form-control" id="email" name="email" placeholder="Agent's email address">
        <button type="submit" class="btn-primary btn-link">New Agent</button>
      </form>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  function removeAgent(agentId) {
    $.post("/agents/delete", {id: agentId});
  }
</script>
</body>
</html>
