<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to Evaluator</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="center-block login">
    <h2 class="page-header">Welcome to Evaluator!</h2>
    <br/>
    <a href="/auth/google" class="btn btn-lg btn-default">Login via Google</a>
  </div>
</div>
</body>
</html>
