<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Unauthorized Agent</title>
  <link href="/stylesheets/login.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="center-block login">
    <h2 class="page-header">Unauthorized Agent</h2>
    <p>Please contact administrator with request to include your email to the list of registered agents.</p>
    <a href="/login">Try again</a>
  </div>
</div>
</body>
</html>
