body {
  padding-top: 50px;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

ul.eval {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0 0;
}

p {
  margin: 0;
  padding: 0;
}

.eval-title {
  font-size: 24px;
  font-weight: 300;
}

.eval-name {
  font-size: 14px;
  color: darkgray;
  font-weight: 300;
  margin-left: 10px;
}

.eval-notes {
}

.eval-details {
  font-size: 12px;
  color: darkgray;
  padding-top: 5px;
}

.pipeline-container {
  padding-bottom: 60px;
}

.pipeline {
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.day-part {
  float: left;
  width: 10px;
  height: 5px;
  margin-top: 15px;
  border-bottom: solid 1px darkgray;
}

.second {
  border-left: solid 1px darkgray;
}

.week {
  height: 10px;
  margin-top: 10px;
}

.date {
  position: absolute;
  font-size: 10px;
  padding-top: 15px;
  margin-left: -20px;
  color: lightgray;
  width: 40px;
  text-align: center;
}

.phase {
  float: left;
  width: 20px;
  height: 20px;
  border-bottom: solid 1px darkgray;
  font-size: 17px;
}