body {
  padding-top: 100px;
}

ul.eval {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0 0;
}

.eval li {
  padding-bottom: 30px;
}

p {
  margin: 0;
  padding: 0;
}

.eval-title {
  font-size: 24px;
  font-weight: 300;
}

.eval-name {
  font-size: 14px;
  color: darkgray;
  font-weight: 300;
  margin-left: 10px;
}

.eval-notes {
  padding-top: 5px;
}

.eval-details {
  font-size: 12px;
  color: darkgray;
  padding-top: 5px;
}